button{
    justify-content: center;
width: 70px;
height: 50px;
}
.result
{
    display: flex;
    background-color: rgb(17, 212, 17);
    margin: 10px;
    width: 200px;
    justify-content: space-evenly;
    border-radius: 10px;
}
p{
    margin-top:10px ;
}
